<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lap01">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lap01">
        <activity
            android:name=".activity_1e"
            android:exported="false" />
        <activity
            android:name=".activity_1d"
            android:exported="false" />
        <activity
            android:name=".activity_1c"
            android:exported="false" />
        <activity
            android:name=".activity_1b"
            android:exported="false" />
        <activity
            android:name=".activity_1a"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>